* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
  width: 375px;
}

.background {
  background-image: url(./images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  border: 1px solid #ebebff;
  border-bottom-left-radius: 67px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding-left: 25px;
  padding-right: 25px;
}

.logo a {
  display: block;
  margin-top: 58px;
  text-decoration: none;
}

.logo h2 {
  width: 79px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu_btn_burger {
  background-color: #fff;
  border: none;
  margin-left: 223px;
  width: 24px;
  height: 24px;
  margin-top: 56px;
  cursor: pointer;
}

.menu_btn {
  position: relative;
  display: inline-block;
}

.menu-list {
  display: none;
}

.intro {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 98.77px;
  padding-bottom: 12px;
  margin-top: 114px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 24px;
  padding-bottom: 12px;
}

.social_media_icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  width: 17px;
  height: 20px;
  gap: 20px;
}

.space_between {
  margin: 33px;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 2788px;
}

.project {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding-left: 24px;
  padding-right: 24px;
  gap: 88px;
}

.card_works {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_img {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
}

.desktop_project_img {
  display: none;
}

.project_title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  align-self: flex-start;
  padding-left: 16px;
}

.project_details {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-left: 16px;
  padding-right: 75px;
  padding-top: 20px;
}

.canopy {
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.Back_End_Dev {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.works p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding: 20px 16px;
}

.skills {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  gap: 8px;
  height: 16px;
  width: fit-content;
  padding-left: 16px;
  padding-right: 108px;
  padding-bottom: 42px;
}

.skill {
  background: #ebebff;
  display: flex;
  border-radius: 8px;
  padding: 4px 12px;
  height: 24px;
  width: fit-content;
}

.button {
  width: 130.25px;
  height: 41.68px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  color: #396df2;
  margin-left: 16px;
  margin-bottom: 31.16px;
  margin-right: 172px;
}

.button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.button:active {
  background: #2230d2;
  border-radius: 8px;
}

.button:enabled {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
}

.button:disabled {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.space {
  padding-top: 88px;
}

.About_myself {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ebebff;
  border-top-right-radius: 67px;
  width: 375px;
  padding-left: 24px;
  padding-right: 24px;
}

.about {
  width: 134.15px;
  height: 92.24px;
  color: #172b4d;
  margin-top: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

.about_me {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.get_resume {
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin: 12px;
}

h3 {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-left: 36px;
  margin-right: 64px;
  padding-bottom: 36px;
  padding-top: 36px;
  justify-content: space-between;
}

.languages {
  padding-top: 24px;
}

.language {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  background: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
  margin: 12px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.contact-form {
  background-color: #fff;
}

.Contact_form {
  background-image: url(./images/contact_form.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 779px;
  border: 1px solid #ebebff;
  border-top-left-radius: 78px;
}

.contact_me {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 77px;
  padding-bottom: 12px;
}

.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-left: 24px;
  margin-right: 24px;
}

.form_fields {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.form_fields li {
  margin-top: 10px;
  margin-bottom: 10px;
}

input,
textarea {
  width: 327px;
}

.name,
.email,
.message {
  padding: 15px 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#btn {
  margin-bottom: 45px;
  margin-left: 24px;
}

#btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(245, 245, 247, 0.24);
  border-radius: 8px;
}

#btn:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

#btn:enabled {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
        }

    body {
    background: #e5e5e5;
    }

    .background {
    background-image: url(./images/desktop_bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 916px;
    border-bottom-left-radius: 67px;
    }

    .header {
    position: absolute;
    width: 1440px;
    height: 70px;
    }

    .logo a {
    display: block;
    margin-top: 25px;
    margin-left: 155px;
    text-decoration: none;
    }

    .logo h2 {
    width: 79px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    }

    nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 72px;
    padding-right: 154px;
    }

    .ham {
    display: none;
    }

    .menu_btn_burger {
    display: none;
    }

    .menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    }

    .menu-list a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    padding: 10px 12px;
    }

    .header2 {
    width: 879.62px;
    height: 219.59px;
    margin-top: 359px;
    margin-left: 260px;
    margin-bottom: 313.2px;
    margin-right: 300.38px;
    }

    .intro {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: flex-start;
    letter-spacing: 0.37px;
    color: #091e42;
    width: 920px;
    height: 122px;
    margin-top: 0;
    }

    .description {
    width: 920px;
    height: 98px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    padding-top: 12px;
    padding-bottom: 12px;
    }

    .connect {
    display: inline;
    width: 117px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    padding-bottom: 14px;
    }

    .social_media_icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 17px;
    height: 20px;
    margin-top: 14px;
    gap: 20px;
    }

    .space_between {
    display: none;
    }

    .works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px;
    gap: 142px;
    position: absolute;
    width: 1440px;
    height: 2694px;
    left: 0px;
    top: 917px;
    }

    .project {
    width: 1156px;
    height: 496px;
    padding: 0;
    }

    img {
    padding: 22px 24px;
    }

    .card_works {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    }

    .desktop_project_img {
    display: block;
    }

    .project_img {
    display: none;
    }

    .project_title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    }

    .project_details {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    padding-top: 12px;
    }

    .space {
    display: none;
    }

    .canopy {
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    }

    .Back_End_Dev {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    }

    .year {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    }

    .works p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding: 24px 24px;
    }

    .skills {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    gap: 8px;
    height: 16px;
    width: fit-content;
    padding-left: 16px;
    padding-right: 108px;
    padding-bottom: 42px;
    }

    .skill {
    background: #ebebff;
    display: flex;
    border-radius: 8px;
    padding: 4px 12px;
    height: 24px;
    width: fit-content;
    }

    .button {
    width: 130.25px;
    height: 41.68px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
    color: #396df2;
    padding-left: 0;
    margin-bottom: 31.16px;
    margin-right: 172px;
    }

    .button:hover {
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    }

    .button:active {
    background: #2230d2;
    border-radius: 8px;
    }

    .button:enabled {
    background: #fff;
    border: 1px solid #7f8cff;
    border-radius: 8px;
    }

    .button:disabled {
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    }

    .reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 1156px;
    height: 496px;
    padding-left: 48px;
    }

    .project_work {
    padding: 42px 24px;
    }

    .About_myself {
    position: absolute;
    width: 1440px;
    height: 668px;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    margin-top: 2690px;
    }

    .about {
    width: 134.15px;
    height: 92.24px;
    color: #172b4d;
    margin-top: 114px;
    padding-left: 142px;
    padding-right: 24px;
    }

    .about_me {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding-left: 142px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    }

    .About_myself .social_media_icons {
    margin-top: 26px;
    }

    .get_resume {
    color: #6070ff;
    border: 1px solid #6070ff;
    border-radius: 8px;
    margin-left: 142px;
    margin-top: 40px;
    }

    h3 {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding-left: 36px;
    margin-right: 64px;
    padding-bottom: 36px;
    padding-top: 36px;
    justify-content: space-between;
    }

    .skill_list {
    margin-right: 142px;
    width: 684px;
    height: 360px;
    }

    .languages {
    padding-top: 24px;
    }

    .language {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
    background: #f7f7f9;
    border-radius: 8px;
    width: 303px;
    height: 66.72px;
    margin-right: 142px;
    }

    .About_myself .social_media_icons,
    .About_myself .connect {
    padding-left: 142px;
    padding-bottom: 24px;
    }

    .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    }

    .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }

    .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    }

    .contact-form {
    background-image: url(./images/desktop_contact_form.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 846px;
    margin-top: 3362px;
    }

    .Contact_form {
    background-image: none;
    border: none;
    width: 801px;
    height: 557px;
    }

    .contact_me {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 12px;
    }

    .contact {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin-left: 24px;
    margin-right: 24px;
    }

    .form_fields {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    }

    .form_fields li {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 447px;
    }

    input,
    textarea {
    width: 447px;
    }

    .name,
    .email,
    .message {
    padding: 15px 16px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    }

    #btn {
    margin-bottom: 127px;
    align-self: center;
    }

    #btn:hover {
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(245, 245, 247, 0.24);
    border-radius: 8px;
    }

    #btn:active {
    background: #2230d2;
    border-radius: 8px;
    color: #fff;
    }

    #btn:enabled {
    background: #fff;
    border: 1px solid #7f8cff;
    border-radius: 8px;
    }
}
